In [1]:
import pandas as pd
fertil = 'fertil data.worldbank.xls'
inflation = 'inflation data.worldbank.xls'

In [34]:
fertilDF = pd.read_excel( fertil, sheet_name="Data" )
inflationDF = pd.read_excel( inflation, sheet_name="Data" )

In [35]:
fertilDF = fertilDF.fillna(0)
inflationDF = inflationDF.fillna(0)

In [36]:
fertilDF

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.820000,4.655000,4.471000,4.271000,4.059000,3.842000,...,2.11700,2.148000,1.972000,1.953000,1.839000,1.587000,1.486000,1.325000,1.180000,0.0
1,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.724125,6.742752,6.762930,6.778712,6.788420,6.800322,...,4.80882,4.739861,4.677618,4.615670,4.570409,4.527705,4.482898,4.416900,4.354709,0.0
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.282000,7.284000,7.292000,7.302000,7.304000,7.305000,...,5.69600,5.560000,5.405000,5.262000,5.129000,5.002000,4.870000,4.750000,4.643000,0.0
3,Africa Western and Central,AFW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.458448,6.471518,6.491826,6.506088,6.525355,6.541102,...,5.50635,5.437493,5.385059,5.328709,5.255345,5.186319,5.118932,5.049329,4.978662,0.0
4,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.708000,6.790000,6.872000,6.954000,7.036000,7.116000,...,5.95300,5.864000,5.774000,5.686000,5.600000,5.519000,5.442000,5.371000,5.304000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.359000,6.350000,6.331000,6.296000,6.126000,5.927000,...,2.09800,1.871000,1.751000,1.658000,1.649000,1.605000,1.546000,1.529000,1.522000,0.0
262,"Yemen, Rep.",YEM,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.938000,7.963000,7.963000,7.981000,8.038000,8.067000,...,4.52900,4.427000,4.322000,4.214000,4.112000,4.043000,3.963000,3.886000,3.795000,0.0
263,South Africa,ZAF,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.159000,6.138000,6.110000,6.077000,6.030000,5.967000,...,2.42800,2.424000,2.359000,2.261000,2.334000,2.418000,2.475000,2.401000,2.374000,0.0
264,Zambia,ZMB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.115000,7.169000,7.214000,7.249000,7.274000,7.291000,...,5.02600,4.899000,4.793000,4.707000,4.614000,4.536000,4.451000,4.379000,4.308000,0.0
265,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.220000,7.233000,7.255000,7.253000,7.261000,7.258000,...,4.06400,3.962000,3.849000,3.771000,3.706000,3.659000,3.599000,3.545000,3.491000,0.0

In [9]:
years = list(range(1960,2023))
print(years)

[1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [ ]:
"Country Name","Country Code","Indicator Name","Indicator Code"

In [37]:
reshaped_fertil = pd.melt(fertilDF, id_vars=["Country Name","Country Code","Indicator Name","Indicator Code"], var_name="Year")
reshaped_inflation = pd.melt(inflationDF, id_vars=["Country Name","Country Code","Indicator Name","Indicator Code"], var_name="Year")

#df = reshaped_fertil.pivot(index='Year', columns='Country Name', values='value')

#df.plot()

In [48]:
reshaped_fertil = reshaped_fertil.sort_values(by=["Country Name","Year"],ignore_index=True)
reshaped_inflation = reshaped_inflation.sort_values(by=["Country Name","Year"],ignore_index=True)
#reshaped_fertil = reshaped_fertil.reset_index(drop=True)
reshaped_fertil

,Country Name,Country Code,Indicator Name,Indicator Code,Year,value
0,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,7.282
1,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1961,7.284
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1962,7.292
3,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1963,7.302
4,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1964,7.304
...,...,...,...,...,...,...
16753,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2018,3.659
16754,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2019,3.599
16755,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2020,3.545
16756,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2021,3.491
16757,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2022,0.000

In [49]:
# reshaped_inflation["Country Name"] == "Aruba"
reshaped_inflation.loc[reshaped_fertil['Country Name'] == "Afghanistan"]

,Country Name,Country Code,Indicator Name,Indicator Code,Year,value
0,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1960,0.000000
1,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1961,0.000000
2,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1962,0.000000
3,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1963,0.000000
4,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1964,0.000000
...,...,...,...,...,...,...
58,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,2018,0.626149
59,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,2019,2.302373
60,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,2020,0.000000
61,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,2021,0.000000
62,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,2022,0.000000

In [51]:
reshaped_fertil.to_excel("clean_fertil.xlsx")  
reshaped_inflation.to_excel("clean_inflation.xlsx")

In [63]:

gdp = 'worldbank/GDP growth annual Data Worldbank.xls'
gcp = 'worldbank/Gross capital formation (annual % growth) Data Worldbank.xls'
Unemployment = 'worldbank/Unemployment data worldbank.xls'

In [64]:
gdpDF = pd.read_excel(gdp, sheet_name="Data" )
gcpDF = pd.read_excel(gcp, sheet_name="Data" )
UnemploymentDF = pd.read_excel(Unemployment, sheet_name="Data" )
#inflationDF = pd.read_excel( inflation, sheet_name="Data" )

In [65]:
gdpDF = gdpDF.fillna(0)
gcpDF = gcpDF.fillna(0)
UnemploymentDF = UnemploymentDF.fillna(0)

In [66]:
reshaped_gdp = pd.melt(gdpDF, id_vars=["Country Name","Country Code","Indicator Name","Indicator Code"], var_name="Year")
reshaped_gcp = pd.melt(gcpDF, id_vars=["Country Name","Country Code","Indicator Name","Indicator Code"], var_name="Year")
reshaped_Unemployment = pd.melt(UnemploymentDF, id_vars=["Country Name","Country Code","Indicator Name","Indicator Code"], var_name="Year")

In [67]:
reshaped_gdp = reshaped_gdp.sort_values(by=["Country Name","Year"],ignore_index=True)
reshaped_gcp = reshaped_gcp.sort_values(by=["Country Name","Year"],ignore_index=True)
reshaped_Unemployment = reshaped_Unemployment.sort_values(by=["Country Name","Year"],ignore_index=True)

In [68]:
reshaped_fertil.to_excel("clean_fertil.xlsx")  
reshaped_inflation.to_excel("clean_inflation.xlsx")

In [69]:
reshaped_gdp.to_excel("clean_gdp.xlsx")  
reshaped_gcp.to_excel("clean_gcp.xlsx")  
reshaped_Unemployment.to_excel("clean_Unemployment.xlsx")